{%- from "common.j2" import max_stats, skill_line -%}

{{e.rarity|rarity_emote}}{{e.element|element_emote}}{{e.weapon_type|weapon_emote}} {{e.name}}: {{e.title}}
{{max_stats(e)}}

**Skills**
{{skill_line(e.skill_1)}}
{{skill_line(e.skill_2)}}

**Abilities**
{{(e.ability_1|last).name}}
{{(e.ability_2|last).name}}
{{(e.ability_3|last).name}}

**Co-ability:** {{(e.coability|last).name}}
**Chain Co-ability:** {{(e.chain_coability|last).name}}

*Obtained From: {{e.obtained}}*
*Release Date: {{e.release_date|format_date}}*