{%- from "common.j2" import max_stats -%}

{{e.rarity|rarity_emote}}{{e.element|element_emote}} {{e.name}}{% if e.title %}: {{e.title}}{% endif %}
{{max_stats(e)}}

**Skill:** {{e.skill.name}}

**Abilities**
{{(e.ability_1|last).name}}
{%- if e.ability_2 %}
{{(e.ability_2|last).name}}
{%- endif %}

*Favourite gift: {{e.favourite_gift}} ({{e.favourite_gift.get_day() if e.favourite_gift is not none else "?"}})*
*Obtained from: {{e.obtained}}*
*Release date: {{e.release_date|format_date}}*